/*
--------------------
IMPORTANTE (no tocar)

ajusta footer y body a la página
--------------------
*/
html, body {
  height: 97%;
}

#content-body {
	min-height: 100%;
}


/*
--------------------
			Logos
--------------------
*/
#logo-menu{
	width: 70%;
	height: 20%;
}

#logo-footer{
	width: 20%;
	margin-top: 3%;
}



/*
--------------------
			Index
--------------------
*/
.slider{
	width: 100%;
}

.icono-como{
	width: 15%;
	height: 100%;
}

.back:hover{
	background-color: #673AB7;
	color: #fff;
}

.center-map{
	margin: 20px auto 0 auto;
	width: 80%;
	height: 360px;
	display: block;
	padding-bottom: 20px;
}



/*
--------------------
		Sonorización
--------------------
*/
.img-sonz-top{
	width: 70%;
}

.img-sonz-bot{
	width: 46%;
}



/*
--------------------
		Iluminación
--------------------
*/
.img-ilum{
	width: 80%;
	height: 70%;
}

.video{
	width: 100%;
	height: 315px;
}



/*
--------------------
			Eventos
--------------------
*/
.eventos-img{
	width: 100%;
}

.txt-just{
	text-align: justify;
}



/*
--------------------
		Estructuras
--------------------
*/
.icono-des{
	color: #efb810;
	font-size: 4em;
}

.icono-des:hover{
	color:#673AB7;
}

.gal-img{
	width: 100%;
}

.gal{
	height: 85%;
}



/*
--------------------
			Alquiler
--------------------
*/
.lista-alq{
	height: 5em;
}

.back1{
	background-image: url("../img/alquiler/bronce.jpg");
}

.back2{
	background-image: url("../img/alquiler/plata.jpg");
}

.back3{
	background-image: url("../img/alquiler/oro.jpg");
}

.card-deck {
	margin-top: 3em;
}



/*
--------------------
			Contacto
--------------------
*/
.contacto{
	margin-top: 10%;
}

.icono-contacto{
	font-size: 2.5em;
	text-align: center;
}



/*
--------------------
				Footer
--------------------
*/
.footer{
	background-color: #343a40;
}

#copyright{
	font-size: 80%;
	color: white;
	margin-top: 1%;
    margin-bottom: 0px;
}

#redes{
	margin-top: 3%;
	float: right;
}

.icono-footer{
	color: white;
	font-size: 1.5em;
}



/*
--------------------
		Especiales
--------------------
*/
a{
	color: #fff !important;
	text-decoration: none !important;
}

a:hover{
	color: #efb810 !important;
}

.a-btn{
	font-weight: bold !important;
	color: black !important;
}

.a-btn:hover{
	color: #673AB7 !important;
}

.error{
  background-color: #BC1010;
  padding: 6px 12px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  margin-left: 16px;
  margin-top: 6px;
  position: absolute;
}

.error:before{ /* Este es un truco para crear una flechita */
  content: '';
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #BC1010;
  border-left: 8px solid transparent;
  left: -16px;
  position: absolute;
  top: 5px;
}



/*
--------------------
			@Medias
--------------------
*/
@media (min-width: 768px) and (max-width: 1024px) {
	.margin-mvl{
		margin-top: 6rem !important;
	}
}


@media (max-width: 768px) {
	#logo-footer{
		width: 30%;
		margin-top: 3%;
	}
	
	.contacIndex{
		text-align: center;
	}

	.img-sonz-bot{
		width: 70%;
	}

	.outWidth{
		width: 50% !important;
	}
	
	.icono-footer{
		font-size: 80%;
	}
	
	.contacto{
		margin-top: 10%; 
	}
}


@media (max-width: 576px) {
	.body{
		font-size: 0.1rem;
	}

	#logo-menu{
		width: 50%;
		height: 20%;
	}

	.eve-text{
		margin-top: 60% !important;
	}

	.icono-contacto{
		font-size: 180%;
	}

	.modal-content {
		margin-top: 50% !important;
	}
}